 body section {
    display: flex;
     flex-direction: row;
 }

 body section div {
     font-size: 25pt;
     font-weight: 500;
     display: flex;
     flex-direction: column;
 }
 h1 {
     background-color: chartreuse;
     text-align: center;
     line-height: 96px;
     width: 250px;
     height: 100%;
     border: 5px dotted #000;
     margin: 10px 20px 0 20px;
     color: darkblue;
     font-size: 25pt;
     font-style: italic;
 }